body{
    margin-left:10%;
    margin-right:10%;
}

h1{   
    height:100%;   
    font-size:36px;   
    color:#0586C9;   
    line-height:2em;   

}   

h2{   
    color:#999;
}  

p{
    margin-left:10%;
    line-height:1.5em;/*行距为1.5个单位*/
}


